@keyframes slideRight {
    from {
        transform: translate(-50%, -50%) translateX(0) translateY(0);
    }
    to {
        transform: translate(-50%, -50%) translateX(500px) translateY(-250px);
    }
    
}

@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes slideLeft {
    from {
        transform: translate(-50%, -50%) translateX(0) translateY(0);
    }
    to {
        transform: translate(-50%, -50%) translateX(-500px) translateY(-250px);
    }
    
}

@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

.box-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: aquamarine;
 
}