@keyframes slideAndRotate {
    from {
        transform: translate(-50%, -50%) translateX(0) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) translateX(300px) rotate(360deg);
    }
}


@keyframes slide {
    from {
        transform: translate(-50%, -50%) translateX(0) translateY(0);
    }
    to {
        transform: translate(-50%, -50%) translateX(500px) translateY(-250px);
    }
    
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

.box-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.box {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: aquamarine;

    animation-name: rotate, fadeOut;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}